@use './styles/colors';

@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");


html,
body {
  height: auto;
  background: colors.$content-white;
  margin: 0;
  font-family: Roboto;
}

.material-icons {
  font-size: 30px;
  color: colors.$primary;
}

.cursor-pointer {
  cursor: pointer;
}

button {
  color: colors.$content-white;
  background: colors.$primary;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 15px;
  border: 0px;
  cursor: pointer;
  display: flex;
  padding: 5px 10px;

  .material-icons {
    font-size: 14px;
    color: colors.$content-white;
  }

  span {
    padding: 5px;
  }
}

button:hover {
  background: colors.$dark-primary;
}

button:active {
  background: colors.$dark-primary;
}

.button-secondary {
  color: colors.$primary;
  background-color: colors.$content-white;
  border: 1px solid colors.$primary;

  .material-icons {
    font-size: 14px;
    color: colors.$primary;
  }
}

.button-secondary:hover {
  background-color: colors.$dark-secondary;
}

.button-secondary:active {
  background-color: colors.$dark-secondary;
}

.container-buttons {
  display: flex;
  justify-content: end;
  
  button {
    margin-left: 5px;
  }
}


@media (min-width: 200px) and (max-width: 560px) {

  .container-buttons {
    display: block;
    align-self: end;
    
    button {
      margin-left: auto;
      margin-top: 5px;
    }
  }
  
}

