@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

html,
body {
  height: auto;
  background: white;
  margin: 0;
  font-family: Roboto;
}

.material-icons {
    font-size: 30px;
    color: #13c1ac;
}

.cursor-pointer {
    cursor: pointer;
}